*{
  margin: 0;
  padding: 0;
}
body{
  background: #e0e2e4;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.home a{
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  right: 275px;
  bottom: 415px;
  font-size: large;
  font-weight: 600;
  color: #003147;
}
h1 {
  position: relative;
  text-align: center;
  justify-content: center;
  bottom: 350px;
}
p{
  position: relative;
  bottom: 300px;
}
  